.bg-dark {
  background-color: #15161D !important;
  border-bottom: #D10024 solid 3px;
  height: 80px;
}
.navbar-brand {
  font-size: 1.5rem;
}
.iconHome {
  color: #D10024;
  margin-right: 5px;
}
.dotRed {
  height: 8px;
  margin-bottom: 3px;
}
.custom-select {
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#button-addon2 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.navbar-nav .nav-item {
  text-align: center;
}
.navbar-nav .nav-item i {
  display: block;
  color:#FFFFFF;
}
.navbar-nav .nav-item a {
  color:#FFFFFF;
}
.navbar-nav .nav-item .badge {
  position: fixed;
  top: 10px;
  margin-left: 10px;
}
/**************** Menu ****************************/
.dvBarMenu {
  text-align: center;
  border-bottom: 2px solid #E4E7ED;
  padding: 5px 30px;
}
/* #top-menu, #top-menu > .nav-item {
  display: inline-block;
} */
#top-menu > .nav-item span {
  position: relative;
}
#top-menu > .nav-item span::after {
  position: absolute;
  left: 0;
  content: '';
  height: 2px;
  background: #D10024;
  transition: all 0.3s ease;
  width: 0;
  bottom: -2px;
}
#top-menu > .nav-item span:hover:after{
  width: 100%;
}
#top-menu .nav-item a {
  color: #15161D;
}
#top-menu .nav-item span:hover {
  color: #D10024;
}
.active > span {
  color: #D10024 !important;
  border-bottom: 2px solid #D10024;
}
/**************************************************/
