<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fas fa-comment-dollar iconHome"></i>
    El<img src="../../../assets/img/dotRed.png" class="dotRed">Mercadito
  </a>

  <div class="navbar-collapse">
    <form class="form-inline m-auto">

      <div class="input-group">
        <div class="input-group-prepend">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Categorias</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <input type="text" class="form-control" placeholder="Buscar aquí..." >
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" id="button-addon2">Buscar</button>
        </div>
      </div>

    </form>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-heart"></i>Favoritos</a>
        <span class="badge badge-pill badge-danger">3</span>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>Carrito</a>
          <span class="badge badge-pill badge-danger">1</span>
      </li>
    </ul>
  </div>

</nav>

<ul class="nav" id="top-menu">
  <li class="nav-item">
    <a class="nav-link active" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ofertas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
